main {
    padding: var(--spacing-xl) 0;
    background-color: var(--color-neutral-100); 
    min-height: 85vh;
}
section {
    max-width: 900px;
    margin: 0 auto;
    padding: var(--spacing-lg);
    background-color: var(--color-neutral-000);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
section header {
    text-align: center;
    margin-bottom: var(--spacing-lg);
}
section header p {
    color: var(--color-neutral-700);
    font-size: var(--font-size-body);
}
form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}
fieldset {
    border: 2px solid var(--color-secondary-100);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-md);
}
legend {
    font-size: var(--font-size-h3);
    color: var(--color-primary-900);
    padding: 0 var(--spacing-xs);
    font-weight: bold;
}
fieldset > div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}
label {
    display: block;
    margin-bottom: var(--spacing-xxs);
    font-weight: bold;
    color: var(--color-neutral-900);
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: var(--spacing-sm);
    border: 1px solid var(--color-neutral-300);
    border-radius: var(--border-radius);
    font-size: var(--font-size-body);
    transition: border-color var(--transition-speed), box-shadow var(--transition-speed);
}
input:focus,
select:focus {
    border-color: var(--color-secondary-500);
    box-shadow: 0 0 0 3px rgba(244, 157, 52, 0.3);
    outline: none;
}
.input-error {
    border-color: var(--color-primary-500);
}
.input-error:focus {
    box-shadow: 0 0 0 3px var(--color-primary-100);
}
.input-success {
    border-color: var(--color-secondary-900);
}
form > div:last-child {
    text-align: center;
    margin-top: var(--spacing-lg);
}
button[type="submit"] {
    display: inline-flex;
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: var(--border-radius);
    font-weight: bold;
    text-align: center;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    cursor: pointer;
    border: none;
    text-transform: uppercase;

    background-color: var(--color-primary-500);
    color: var(--color-neutral-000);
    font-size: var(--font-size-h3); 
}
button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: var(--color-primary-900);
    transform: translateY(-2px);
}
@media (min-width: 768px) {
    fieldset > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
    }
    #endereco {
        grid-column: span 2;
    }
    header-content .imagem {
        margin-right: var(--spacing-md);
    }
}